h1{
    color:red;
}
h3{
    color:aquamarine;
    background-color:black;
    font-weight: bolder;
    font-style:italic;
    font-size:larger;
    text-align:right;
    text-shadow: 0ch;
}
h3:hover{
    background-color: azure;
    color:aqua;
    text-align:left;
}
p{
    color:blueviolet;
    text-transform: calc();
    text-align: center;
    text-decoration:underline;
    text-overflow: ellipsis;
    font-size:larger;
}
#ankit{
    color:red;
    text-decoration: none;
}